container_commands:
  00env:
    command: "mv .env.production .env"
    leader_only: true
  01migrate:
    command: "php artisan migrate:refresh"
    leader_only: true
  02seed_ctg:
    command: "php artisan db:seed --class=CallTypeGroupSeeder"
    leader_only: true
  03seed_ct:
    command: "php artisan db:seed --class=CallTypeSeeder"
    leader_only: true
  04optimize:
    command: "php artisan optimize:clear"
    leader_only: true
